body {
    padding-top: 100px; /* Adjusted for banner + navbar */
  }

  .navbar-brand img {
    height: 40px;
    transition: all 0.3s ease;
  }

  .navbar.shrink .navbar-brand img {
    height: 30px;
  }

  @media (max-width: 576px) {
    .navbar-brand img {
      height: 15px;
    
    
    }
  }
 
  .mt-with-banner {
    margin-top: 32px; /* same as banner height */
    transition: margin-top 0.3s ease;
  }
  
  .mt-no-banner {
    margin-top: 0 !important;
  }
  
  .shrink {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    transition: all 0.3s ease;
  }
  
  
  #promoBanner {
    transition: opacity 0.3s ease;
  }
  .promo-banner {
    background-color: #ff009c;
    font-size: 12px;
    z-index: 1040;
    width: 100%;
    transition: top 0.3s ease;
    height: 32px;
  }
  
  .promo-hidden {
    display: none;
  }
  

  .carousel-indicators [data-bs-target] {
    background-color: #ff009c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .carousel-caption {
    bottom: 20%;
  }
  .carousel-caption {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active .carousel-caption {
    opacity: 1;
  }
  .btn-pink {
    background-color: #ff009c;
    color: #fff;
    border: none;
  }
  .btn-pink:hover {
    background-color: #e6008a; /* slightly darker on hover */
  }
  